.navigation
  = link_to('I want to suggest advice', new_advice_path)
  %span.separator= '|'
  = link_to('Home', root_path)
  %span.separator= '|'
  = link_to('About', 'https://github.com/marionzualo/gfaa', target: '_blank')
