= render partial: 'shared/header'
.container
  %h2 I want to suggest advice
  %p Here you can suggest a good fucking austerity advice to add to this website.
  %p These suggestions will be reviewed and published only if appropriate. Some tips:
  %ul
    %li It should be connected with the theme: good fucking austerity advice;
    %li it should not be long.
  %p Thank you for suggesting!

  = form_for @advice, url: {action: 'create'} do |form|
    .row
      .two-thirds.column
        = form.label :text, 'Advice'
        = form.text_field :text, :class => 'u-full-width', :required => ''
        = form.submit 'Suggest', :class => 'button-primary'
= render partial: 'shared/navigation'
